img{
  width: 40px;
  height: 40px;
  padding-left: 0;
}

.tablas{
  margin-left: 50px;
  margin-right: 180px;
}

body{
  background-image: url(../assets/images/bg3.png); 
}

h3{
  padding-top: 20px;
  color: aliceblue;
}
