body{
  display: flex;
  align-items: center;
  background-image: url(../assets/images/bg.jpg);
  padding-bottom: 40px;
}

h1{
  color: azure;
}

img{
  width: 100px;
  height: 100px;
  background-color: darkblue;
  vertical-align: middle;
}

.form-signin{
  max-width: 350px;
  padding: 15px;
  margin: auto;
  margin-top: 80px;
}

.form-floating{
  position: relative;
  padding: 2px;
}

.form-control{
  height: calc(3.5rem + 2px);
  line-height: 1.25;
}